 

<div class="container">
    <div class="">
        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> Please add or update a Country </h4>
                </div>
                <div class="panel-body">

                    <form [formGroup]="countryForm" role="form" (ngSubmit)="onFormSubmit()">

                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8">
                                <div class="form-group">
                                    <input type="text" formControlName="countryName" name="countryName" id="countryName" class="form-control input-sm"
                                        placeholder="Country"  >
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8">
                        <input type="submit" value="Submit" class="btn btn-info btn-block">
                    </div>
                </div>
               
                <div class="lbl">
                    {{massage}}
                </div>

    <div class="row col-md-12 col-md-offset-2 custyle " style="padding-top:50px ; max-height: 350px; overflow-y: scroll;" >
        <table class="table table-striped custab "  style="text-align: center;">
        <thead>
            <tr>
                <th>Country ID</th>
                <th>Country Name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tr  *ngFor="let country of Countries">
          
            <td>  {{country.CountryId}}</td>
            <td>  {{country.CountryName}}</td>
            <td>  <a class='btn btn-info btn-xs' (click)="EditCountry(country.CountryId)" ><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                <a  style="margin-left: 10px;" (click)="DeleteCountryById(country.CountryId)" class=" btn btn-danger btn-xs "><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
           
        </tr>
               
        </table>
        </div>




                    </form>


                  
                   
                </div>
            </div>
        </div>
    </div>
</div>